language: node_js
cache:
  yarn: true
jobs:
  include:
    # Define the release stage that runs semantic-release
    - stage: release
      # Advanced: optionally overwrite your default `script` step to skip the tests
      script: yarn build
      deploy:
        provider: script
        skip_cleanup: true
        script: npx semantic-release
